[Unit]
Description=Pvlog service

[Service]
TimeoutStartSec=30
Restart=always
Type=simple
ExecStart=/usr/local/bin/pvlog -l warning -p /var/log/pvlog/pvlog.log -c /usr/local/etc/pvlog/pvlog.conf

[Install]
WantedBy=multi-user.target
